/*  your css code here. If applicable */
.box{
    background-color:lightblue;
	width:200px;
	height:200px;
	margin: auto;
    border: 2px solid black;
	display:flex;
	justify-content: center;
	align-items: center;
}
body{
	display:flex;
	justify-content: center;
	align-items: center;
}

